body {
	font-family: Helvetica, sans-serif;
}
#wrapper {
  	margin: 0px auto;
  	width: 80%;
}
#leftcol {
	padding: 0.25em 0;
	width: 50%;
	float: left;
}
#rightcol {
	padding: 0.25em 0;
	width: 50%;
	float: right;
}
#bottom {
  	padding: 0.25em 0;
  	clear: both;
}
